notes/Internship
*.fasta
*.fasta.gz
*.paf
*fastq
*fastq.gz
*.fna
.vscode/
**/__pycache__
*.tsv
*.csv
*.tmp
test/s_cervisae_CEN_PK113-7D/
test/sara_reads/
test/talaro_santan/
test/a_gifuensis
test/homo_sapiens
mitnanex_rs/target/
